.idea
/env
*.sqlite3
db.sqlite3-journal
static/media/
/mediafiles
/staticfiles
*~
/.env
/.env_test
/static/styles/*.css
/static
/staticfiles
staticfiles
.coverage
coverage.*
/dist
dist
/node_modules
node_modules
__pycache__