name: CI Feature - Build, Test & Push Image on demand
on:
  workflow_dispatch:
  pull_request:
    types:
      - labeled
      - opened
      - synchronize

jobs:
  quality-check:
    uses: './.github/workflows/build-and-test.yml'
    secrets: inherit
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event.pull_request != null && contains(github.event.pull_request.labels.*.name, 'active build'))

  build-and-push:
    needs: build-and-test
    runs-on: [ insight-runners ]
    permissions:
      contents: 'read'
      id-token: 'write'
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event.pull_request != null && startsWith(github.event.pull_request.title, 'build'))
    steps:
      - name: Checkout AIS
        uses: actions/checkout@v5.0.0

      - name: Get short commit hash as image tag
        id: hash
        run: |
          IMAGE_TAG=$(git rev-parse --short HEAD)
          echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_OUTPUT
          echo "Generated image tag: ${IMAGE_TAG}"

#      - name: Login to Docker Hub
#        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
#        with:
#          username: ${{ secrets.VOLUE_PLATFORM_DOCKERHUB_USER }}
#          password: ${{ secrets.VOLUE_PLATFORM_DOCKERHUB_PASSWORD }}
#
#      - name: Login to Artifact Registry
#        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
#        with:
#          registry: europe-docker.pkg.dev
#          username: oauth2accesstoken
#          password: "${{ steps.auth.outputs.access_token }}"
#
#      - name: Print image details
#        run: |
#          echo "==================== Build Details ===================="
#          echo "GAR Image URL: ${{ env.IMAGE_URL }}"
