name: Example Using Custom Actions (Javascript, Docker & Composite)

on:
#  push:
#    branches: [ main ]
#  pull_request:
  workflow_dispatch:

jobs:
  # Example 1: Using composite actions in a single job
  test-with-composite-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Use the custom setup action
      - name: Setup Python and Dependencies
        uses: ./.github/actions/setup-python-dependencies
        with:
          python-version: '3.11'
          requirements-file: 'requirements.txt'

      # Use the custom test action
      - name: Run Tests
        uses: ./.github/actions/run-django-tests
        with:
          coverage-report-format: 'term-missing'
          upload-coverage: 'true'
          codecov-token: ${{ secrets.CODECOV_TOKEN }}

  code-quality-with-composite-action:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python and Dependencies
        uses: ./.github/actions/setup-python-dependencies
        with:
          python-version: '3.11'

      - name: Run Code Quality Checks
        uses: ./.github/actions/code-quality-checks
        with:
          run-ruff: 'true'
          run-pre-commit: 'true'
          run-safety: 'true'
          continue-on-error: 'true'

  # Example 2: Using JavaScript actions in a single job
  greetings-with-javascript-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Greetings
        uses: ./.github/actions/js-greetings

  docker-python-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Docker Python Action
        id: docker-python-greetings
        uses: ./.github/actions/docker-python-action
        with:
          name: 'Tushar'

      - name: Print output of Docker Python Action
        run: echo ${{ steps.docker-python-greetings.outputs.greeting }}
